<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
	<add name="LibraryCon" connectionString ="Data Source=DESKTOP-CNJT2HB\SQLEXPRESS;Initial Catalog=LibraryManegement;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>